<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
</IfModule>
# Added on header cross domain and CORS Directive # Always set these headers
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
#    Header always set Access-Control-Allow-Origin "*"
#    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
#    Header always set Access-Control-Max-Age "1000"
#    Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"
  </FilesMatch>
</IfModule>
# Added a rewrite to respond with a 200 SUCCESS on every OPTIONS request
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>